

{%extends 'blog/base.html'%}
{%block content%}
{%for post in posts%}
<!--<h1>{{blog.title}}</h1>-->
<!--<h1>{{blog.content}}</h1>-->
<!--<h1>{{blog.auther}}</h1>-->
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted | date:'F d, Y'}}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

{%endfor%}

<!--<article class="media content-section">-->
<!--  <div class="media-body">-->
<!--    <div class="article-metadata">-->
<!--      <a class="mr-2" href="#">{{ blog.author }}</a>-->
<!--      <small class="text-muted">{{ blog.date_posted }}</small>-->
<!--    </div>-->
<!--    <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>-->
<!--    <p class="article-content">{{ blog.content }}</p>-->
<!--  </div>-->
<!--</article>-->

{% endblock %}



<!--{%for blog in blog_post%}-->
<!--<h1>{{blog.title}}</h1>-->
<!--<h1>{{blog.content}}</h1>-->
<!--<h1>{{blog.auther}}</h1>-->
<!--{%endfor%}-->
<!--</body>-->
<!--</html>-->